

.page-not-found-page-more-music-logo {
    height: 75px ; 
    position: absolute ; 
    left: 7.5px ; 
    top: 8px ;
    cursor: pointer ;
}

.page-not-found-page-more-music-logo:hover {
    filter: drop-shadow(0 0 1em rgb(130, 248, 248, 0.8) ) ;
}