
.playlist-square-main-container {
    display: flex ; 
    flex-direction: column ;
    justify-content: center ;
    align-items: center ;
    gap: 15px ; 
}

.playlist-square-container {
    position: relative ; 
    display: flex ;
    flex-direction: column ;
    align-items: center ;
}

.playlist-square {
    background-color: azure ; 
    border: 0.5px solid rgb(33, 53, 71) ;
    height: 300px ; 
    width: 300px ; 
    padding: 10px ; 
    border-radius: 20px ;

    display: flex ; 
    flex-direction: column ;
    align-items: center ;
    justify-content: center ;
    gap: 10px ; 
    text-align: center ;
    transition: 0.2s ;
    position: relative ; 
    cursor: pointer ; 
}

.playlist-square:hover {
    background-color: rgb(202, 248, 248) ;
}

.playlist-square-playlist-name {
    font-size: 23px ; 
}

.playlist-square-playlist-description {

}

.playlist-square-playlist-name,
.playlist-square-playlist-description {
    -webkit-line-clamp: 3 ; 
    display: -webkit-box ; 
    -webkit-box-orient: vertical ; 
    line-height: normal ; 
    overflow: hidden ; 
    word-break: break-word ; 
    text-overflow: ellipsis ;
    max-width: 280px ; 
}

.playlist-square-delete-playlist-icon {    
    position: absolute ; 
    top: 10px ; 
    right: 10px ; 
    transition: 0.2s ; 
    font-size: 15px ;  
    cursor: pointer ;
}

.playlist-square-delete-playlist-icon:hover {
    fill: red ; 
}

.playlist-square-delete-playlist-icon:hover 
~ .playlist-square:hover {
    background-color: azure ;
}

.playlist-square-delete-playlist-icon-hover-modal {
    visibility: hidden ;

    background-color: rgba(70, 70, 70, 0.9) ;
    position: absolute ; 
    top: -20px ;  
    right: 0px ; 
    padding: 5px ;
    border-radius: 10px ;
    color: white ; 
    z-index: 1 ;
    transition: 0.1s ;
}


.playlist-square-delete-playlist-icon:hover 
~.playlist-square-delete-playlist-icon-hover-modal {
    visibility: visible ;
}


.playlist-square-edit-playlist-button {
    padding: 3px ; 
    padding-right: 8px ; 
    padding-left: 8px ;
    border: 0.5px solid rgb(33, 53, 71) ; /* #213547 */
    border-radius: 5px ; 
    cursor: pointer ;
    bottom: 9px ; 
    position: absolute ; 
}

.playlist-square-edit-playlist-button:hover {
    background-color: rgb(202, 248, 248) ;
}

.playlist-square-edit-playlist-button:hover
~ .playlist-square:hover {
    background-color: azure ;
}


.playlist-square-delete-playlist-error-message {
    color: orangered ; 
    position: absolute ; 
    top: -1px ; 
}

.playlist-square-edit-playlist-form {
    display: flex ; 
    flex-direction: column ;
    align-items: center ;
    justify-content: center ;
    gap: 15px ; 
    margin-top: 20px ; 
}

.playlist-square-edit-playlist-form-input-name {
    background-color: rgb(239, 243, 244) ; 
	transition-duration: 0.2s ; 
	border: 0px ; 
	border-radius: 5px ;     
	padding-left: 10px ;
	padding-right: 10px ; 
	color: #213547 ;
    width: 300px ; 
    height: 30px ; 
    font-family: 'proxima_nova_rgregular' ; 
    margin-top: -25px ; 
}

.playlist-square-edit-playlist-form-input-name:disabled {
    color: rgb(84, 84, 84) ; 
}

.playlist-square-form-error-message {
    padding: 0px ; 
    color: red ;  
    text-align: center ;
}

.playlist-square-edit-playlist-form-input-description {
    background-color: rgb(239, 243, 244) ; 
	transition-duration: 0.2s ; 
	border: 0px ; 
    padding-left: 10px ;
	padding-right: 10px ;
    width: 300px ; 
    height: 30px ;
    border-radius: 5px ; 
    font-family: 'proxima_nova_rgregular' ; 
    resize: vertical ;
}

.playlist-square-edit-playlist-form-input-name:focus,
.playlist-square-edit-playlist-form-input-description:focus {
    outline: 0.5px solid rgb(130, 248, 248, 0.8) ; 
}

.playlist-square-edit-playlist-submit-button {
    padding: 2px ; 
    border: 0.5px solid rgb(33, 53, 71) ;
    border-radius: 8px ; 
    cursor: pointer ; 
}

.playlist-square-edit-playlist-submit-status-success,
.playlist-square-edit-playlist-submit-status-failed {
    padding: 2px ; 
    border: 0.5px solid rgb(33, 53, 71) ;
    border-radius: 8px ; 
 
    display: flex ; 
    flex-direction: row ;
    align-items: center ;
    justify-content: center ;
    position: relative ; 
}

.playlist-square-edit-playlist-submit-status-success {
    color: rgb(31, 255, 39) ; 
}

.playlist-square-edit-playlist-submit-status-failed {
    color: red ; 
}

.playlist-square-edit-playlist-submit-status-close-icon {
    position: absolute ; 
    right: -27px ; 
    cursor: pointer ; 
	color: #213547 ;
}

.playlist-square-edit-playlist-submit-status-close-icon-hover-modal {
    visibility: hidden ;

    background-color: rgba(70, 70, 70, 0.9) ;
    position: absolute ; 
    right: -80px ; 
    padding: 5px ;
    border-radius: 10px ;
    color: white ; 
    z-index: 1 ;
    transition: 0.1s ;
}

.playlist-square-edit-playlist-submit-status-close-icon:hover ~
.playlist-square-edit-playlist-submit-status-close-icon-hover-modal {
    visibility: visible ;
}