
.search-page-center-stack-container {
    width: 100vw ; 
    display: flex ; 
    flex-direction: column ; 
    align-items: center ;
    justify-content: flex-start ;
    gap: 80px ; 
}

.search-page-search-bar-container {
    margin-top: 20px ; 
}

.search-page-track-list-items-container {
    display: flex ; 
    flex-direction: column ; 
    align-items: center ;
    justify-content: flex-start ;
    gap: 5px ; 
    min-width: 530px ;
    width: 65% ;
    height: 80% ; 
    overflow: auto ; 
    padding: 0px 5px 5px 5px ;
    margin-bottom: 50px ; 
}

.search-page-track-list-items-header {
    display: flex ; 
    flex-direction: row ; 
    align-items: center ; 
    justify-content: flex-start ;
    gap: 10px ; 
    width: 100% ; 
    flex-shrink: 0 ;
    overflow: auto ; 
    height: 35px ; 
    position: sticky ; 
    top: 0 ; 
    z-index: 1 ; 
}

.search-page-track-list-items-header p {
    margin: 0px ; 
    overflow: hidden ; 
    white-space: nowrap ; 
    text-overflow: ellipsis ;
}

.search-page-track-list-item-number {
    width: 5% ; 
    text-align: center ;
}
.search-page-track-list-item-title {
    width: 48% ;
}
.search-page-track-list-item-album-name {
    width: 33% ;
}
.search-page-track-list-item-length {
    width: 10% ;
}

.search-page-track-list-item-add-to-playlist {
    width: 4% ; 
}

.search-page-track-list-items-container {

}

.search-page-track-list-items-header {
    background-color: rgb(239, 243, 244) ; 
}

.search-page-login-signup-stack {
    display: flex ; 
    flex-direction: column ; 
    align-items: center ;
    justify-content: flex-start ;
    position: absolute ; 
    right: 5px ; 
    top: 10px ;
}

.search-page-login-signup-stack p {
    margin: 5px ; 
    padding: 10px ; 
    background-color: rgb(239, 243, 244) ;
    border-radius: 15px ;
    width: 60px ; 
    text-align: center ;
    color: #213547 ;
}

.search-page-login-signup-stack a {
    text-decoration: none ;
}

.search-page-login-signup-stack p:hover {
    cursor: pointer ;
    filter: drop-shadow(0 0 0.5em rgb(130, 248, 248, 0.8) ) ; 
}

.search-page-more-music-logo {
    position: fixed ; 
    height: 75px ; 
    position: absolute ; 
    left: 7.5px ; 
    top: 8px ;
}

.search-page-more-music-logo:hover {
    filter: drop-shadow(0 0 1em rgb(130, 248, 248, 0.8) ) ; 
    cursor: pointer ;
}

